@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Neue Montreal;
}

.link1,
.link2 {
    display: flex;
    transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}


.link1 {
    transform: translateY(0px);
}

.group:hover .link1 {
    transform: translateY(-1.75rem);
}

.link2 {
    position: absolute;
    inset: 0;
    transform: translateY(1.75rem);
}

.group:hover .link2 {
    transform: translateY(0);
}